.App {
  text-align: center;
  background-color:#F4F5F9 ;
  color:#636363;
  width: 100%;
}
.color{
  /* Accent */
  background-color: #E54065;
  /* Border */
  background-color: #CFD2DC;
  /* Text */
  background-color: #636363;
  /* Filter Button */
  background-color: #E1E4EA;
  /* Read Background */
  background-color: #F2F2F2;

}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
